# Compiled class files
*.class

# Build folders
/target/
**/target/
/build/
**/build/

# Local configuration files
*.env
.env
*-local.properties
application-local.properties

# IDE files
.idea/
*.iml
.vscode/
*.sublime-*
.classpath
.project
.settings/

# System files
.DS_Store
Thumbs.db 